<%= f.error_messages %>

<label>Username (a-z + A-Z + 0-9 + _)</label>
<%= f.text_field :username %><br/>

<label>Email</label>
<%= f.text_field :email %><br/>

<% if f.object.new_record? %>
  <label>Password</label>
  <%= f.password_field :password %><br/>

  <label>Re-Type password</label>
  <%= f.password_field :password_confirmation %><br/>
<% end %>
