<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>

<% if current_user %>
  Hello <%= current_user.username %>!
  <%= link_to 'Settings', '/account' %>
  <%= link_to 'Resync', '/users/sync', :title => 'Resync existing jobs and creates jobs from new folders' if current_user.credentials_filled? %>
  <%= link_to 'Logout', '/logout' %>
<% else %>
  <%= link_to 'Pricing and Signup', '/signup' %>
  <%= link_to 'Login', '/login' %>
<% end %>

<% flash.each do |key, text| %>
  <div class="flash_<%= key %> box">
    <%= text %>
  </div>
<% end %>

<div id="content">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
