<!DOCTYPE html>
<html>
<head>
  <title>Fotobuckit</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
  <script>
    later = function(){
      var stack = [], i_ran=0;
      return function(execute_later){
       if(typeof(execute_later)=='undefined'){
         i_ran=1;
         for(var i=0;i<stack.length;i++)stack[i].call();//execute them all
       } else {
         if(i_ran)execute_later.call()//page is loaded already, just execute
         else stack.push(execute_later)//page not finished, store
       }
     };
    }()
  </script>
</head>
<body>

<% if current_user %>
  Hello <%= current_user.username %>!
  <%= link_to 'Settings', '/account' %>
  <%= link_to 'Resync', '/users/sync', :title => 'Resync existing jobs and creates jobs from new folders' if current_user.credentials_filled? %>
  <%= link_to 'Logout', '/logout' %>
<% else %>
  <%= link_to 'Pricing and Signup', '/signup' %>
  <%= link_to 'Login', '/login' %>
<% end %>

<% flash.each do |key, text| %>
  <div class="flash_<%= key %> box">
    <%= text %>
  </div>
<% end %>

<div id="content">
  <%= yield %>
</div>

<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js' %>
<%= javascript_include_tag 'rails', 'application' %>
<%= yield :js %>
</body>
</html>
